transformers==4.27.0
cpm_kernels==1.0.11
peft==0.2.0
sentencepiece==0.1.97
torch==1.13.1
datasets==2.7.1
tqdm==4.65.0
deepspeed==0.8.1
mdtex2html==1.2.0
numpy==1.24.3
gradio==3.28.1
tensorflow==2.12.0
