mdtex2html==1.2.0
peft==0.3.0.dev0
datasets==2.7.1
sentencepiece==0.1.97
numpy==1.24.3
torch==1.13.1
transformers==4.27.1
tqdm==4.65.0
deepspeed==0.8.1
cpm_kernels==1.0.11
gradio==3.28.1
tensorflow==2.12.0
